* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;

}

body {
    font-weight: 400px;
    font-style: normal;
}

/* header */
.header {}

.header-section {
    width: 100%;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-container {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
    

}

.container {
    width: 100%;
    max-width: 1232px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.header-list {
    display: flex;
    align-items: center;


}

.header-link {}

.header-logo {
    padding-right: 69px;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-list-item-link {
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #ffffff;


}

.header-nomer {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.life {
    margin-bottom: 322px;
}

.life-text {
    font-family: 'Anton', sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #ffffff;
}

.life-title {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    line-height: 151px;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #ffffff;
}


.life-link {
    font-family: 'Anton', sans-serif;
    padding: 17px 30px 18px 30px;
    border: 1px solid #ffffff;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    color: #ffffff
}

/* MAIN */

.main {}

.main-container {
    margin-top: 113px;
    display: flex;
    margin-bottom: 114px;

}

.container {}

.about {
    margin-right: 30px;
}

.about-title {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 58px;
    color: #000000;
}

.about-text {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 19px;
}

.about-descition {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-align: justify;
    margin-bottom: 113px;
}

.about-event {
    display: flex;
}

.about-img:not(:last-child) {
    margin-right: 29px;


}

.drivers {
    padding-top: 134px;
}

.drivers-text {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 19px;
}

.drivers-descition {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    color: #000000;
    margin-bottom: 60px;

}

.drivers-img {}

/* footer */

.footer {}

.footer-container {
    margin-bottom: 80px;
}

.container {}

.footer-burning {
    display: flex;
}

.footer-link {
    margin-right: 55px;
}

.footer-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000
}